@{
    ViewData["Title"] = "Ana Sayfa";
}

<div class="text-center mt-5">
    <h1 class="display-4 fw-bold">Güven Oto'ya Hoş Geldiniz</h1>
    <p class="lead">Kamyon ve ticari araç yönetim sistemimiz yayında.</p>
    <hr />
    <div class="mt-4">
        <a href="/Account/Register" class="btn btn-primary btn-lg px-4 me-2 shadow">Hemen Kayıt Ol</a>
        <a href="/Account/Login" class="btn btn-outline-dark btn-lg px-4 shadow">Giriş Yap</a>
    </div>
</div>